// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,800);
@import "node_modules/font-awesome/css/font-awesome";

// Variables
@import "variables";

// Bulma
@import "node_modules/bulma/css/bulma";

body {
    font-family: $font-family-sans-serif;
}

#hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    .heading {
        font-size: 4em;
        color: $white;
        span {
            color: $brand-primary;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
    .print-number {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 2.3em;
        color: $white;

        span {
            display: block;
            line-height: 10px;
            font-weight: 600;
            font-size:14px;
            color: $brand-primary;
        }
    }
    .cta-account {
        padding-top: 50px;

        .button {
            font-weight: 600;
        }
    }
}

#fight {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ececec;
}

#departamentos {
    padding-top: 75px;
    padding-bottom: 75px;

    .columns {
        padding-top: 35px;
    }
}
#status {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ececec;
}

.is-top-large {
    padding-top: 120px;
}
.is-top-medium {
    padding-top: 80px;
}
.is-top-small {
    padding-top: 40px;
}
.is-top-xsmall {
    padding-top: 20px;
}

.is-bottom-large {
    padding-bottom: 120px;
}
.is-bottom-medium {
    padding-bottom: 120px;
}
.is-bottom-small {
    padding-bottom: 120px;
}

.button.is-primary {
    background-color: $brand-primary;

    &:hover {
        background-color: $brand-primary-hover;
    }
}


img.is-circle {
    border-radius: 200px;
}
